@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
/*Barra de navegacion*/
.navbar{
	margin-bottom: 0px;
}
.icon-bar {
	background-color:white;
}
.navbar-toggle{
	background-color:#333333;
	border-color:#3F6CAD;
}
nav {
	background-color:#34495E;
}
li, a {
	color:white;
}
.cora{
	margin-left: 20px;
}
.fa-heart {
	font-size: 100px;
	display:inline-block;
	margin-left: -20px;
}
/*Fondo tigre*/
.fondo {
	background-image: url("../images/slider/bg1.jpg");
	height:601px;
	background-size: cover;
	background-position: center;
	
}
.titulo {
	margin-top:280px;
	color: white;
}
.bajada {
	color: white;
}
/*Redes sociales*/
.verde {
	height: 231px;
	background-color: #2ECC71;
	}
.circulo{
   width: 80px;
   height: 80px;
   background-color:#1C7A44;
   border-radius: 40px;
   margin-top: 52px;
  
}

.fa-twitter {
	display:inline-block;
	color:white;	
	margin-left: 22px;
    margin-top: 19px;
}
/*.text1, .text2, .text3 {
	display: inline-block;
	color: white;
	height: 109px;
	width: 264px;
	margin-top: 54px;
	margin-left: 17px;
	font-family: 'Roboto', sans-serif;
}*/
.text1{
	margin-top: -98px;
    margin-left: 102px;
    width: 380px;
    height: 57px;
    color: white;
    font-family: 'Roboto', sans-serif;
}
.text2{
	margin-top: -105px;
	margin-left: 103px;
	width: 380px;
    height: 57px;
    color: white;
    font-family: 'Roboto', sans-serif;
}
.text3{
	margin-top: -105px;
	margin-left: 103px;
	width: 380px;
    height: 57px;
    color: white;
    font-family: 'Roboto', sans-serif;
}
.fa-facebook {
	display:inline-block;
	color: white;
	margin-left: 28px;
    margin-top: 24px;

}

.fa-google-plus{
	display:inline-block;
	color: white;
	margin-left: 20px;
	margin-top: 20px;
}
/*Portafolio*/
.blanco {
	height: 553px;
	background-color: #F5F5F5;
}
.textbox{
	width: 263px;
	height: 95px;
	margin-top: 111px;
	display: inline-block;
}
.flecha{
	background-color:#D9534F;
	display: inline-block;
	margin-left: -166px;
    margin-right: 97px;
}
i {
	color: white;
}

.work1, .work2, .work3 {
	display: inline-block;
	margin-top: 113px;
    margin-left:-12px;
    width: 131px;
    height: 162px;
}

.work2{
	margin-left: 100px;
}
.work3{
	margin-left: 215px;
}
/*Seccion rojo*/
.rojo {
	background-color:#E74C3C;
	height:708px;

}
.what {
	color: white;
	margin-top: 73px;
}
.down {
	color: white;
}
.reglon {
	background-color: white;
	width: 8px;
	height: 94px;
	margin-top: 55px;
	margin-left: 105px;
}
.one{
	color:white;
	margin-top: -85px;
    margin-left: 130px;
}
small {
	color: white;
	margin-left:130px;
	margin-top: 0px;	
}
/*Area azul*/
.azul {
	background-color: #34495E;
	height: 938px;
}
.about{
	color: white;
	margin-top:37px;
	font-size: 10px;

}
.us {
	color: white;
	margin-top: 24px;
}
.co, .latest {
	color: white;
	margin-top: 10px;
}
.co {
	margin-bottom: 20px;
}
.tuiter, .dir, .fco, .tel {
	font-size: 10px;
}
li {
text-decoration: none;	
color: white;
list-style: none;

}
.hombre{
	display: inline-block;
	margin-top: 19px;	
	width: 67px;

}
.men  {
	margin-left: 90px;
    margin-top: -66px;
    color: white;
    width: 179px;
    font-size: 12px;
}
.light {
	margin-left: 88px;
}
.grupo {
	width: 67px;
	margin-top: 43px;
    margin-left: -200px;
}

.direccion, .tuiter,.dir,.fco,.tel {
	color:white;
}
.direccion {
	margin-top: 17px;
}
.tuiter {
	margin-top: 32px;
}

.new {
	color:white;
	margin-bottom: 20px;
}
.go {
	background-color: #D9534F;
	color: white;
}

/*Footer*/
.futer {
	background-color: #2C3E50;
	height: 110px;
}
.registro {
	color: white;
	margin-top: 33px;
}
ul {
	display: inline-block;
}
.lista {
	margin-top: -1px;
}

/*MEDIA QUERI*/

@media (min-width: 496px) {

.verde {
	height:434px;	
	}
.circulo {
	margin-top:51px;

	}
/*.fa-facebook {
	margin-top: 50px;
	}*/
.text1, .text2, .text3 {
	font-size: 13px;
	}}
